<div class="react-block tem-block">
  <h2>Temperature</h2>
  <div class="row">
    <div class="col">
      <ul class="list-inline">
        <li class="list-inline-item">
          <div class="count">
            <p>21 <span>&#8451;</span></p>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="arrow-count up">
            <p><img src="assets/images/icons/fire.svg" alt=""> 26 <span>&#8451;</span> </p>
          </div>
          <div class="arrow-count down">
            <p><img src="assets/images/icons/snowflake.svg" alt=""> 18 <span>&#8451;</span></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
