<div class="react-block air-block">
  <h2>Air Quality</h2>
  <div class="row">
    <div class="col">
      <ul class="list-inline">
        <li class="list-inline-item">
          <div class="count">
            <p>72</p>
          </div>
        </li>
        <li class="list-inline-item">
          <div class="arrow-count up">
            <span><mat-icon>arrow_upward</mat-icon> 93</span>
          </div>
          <div class="arrow-count down">
            <span><mat-icon>arrow_downward</mat-icon> 61</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
