<div class="container">
  <div class="row">
    <div class="col">
      <div class="main-block">
          <p class="view-only">Best View Window (1519x713)</p>
          <p class="view-only res">Display Resolution (1920x1080)</p>
          <div class="logo">
            <img src="assets/images/logo.svg" alt="">
          </div>
          <div class="services-block">
            <div class="part1">
              <div class="row">
                <div class="col">
                  <app-air-quality></app-air-quality>
                </div>
                <div class="col">
                  <app-temperature></app-temperature>
                </div>
                <div class="col">
                  <app-audio></app-audio>
                </div>
              </div>
            </div>
            <div class="part2">
              <div class="row">
                <div class="col">
                  <app-displays></app-displays>
                </div>
                <div class="col">
                  <app-lighting></app-lighting>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
