$blue-shades: #5448C8;
$green-shades: #6DD0A5;
$black-shades: #2D2D2D;
$gray-shades: #999999;
$block-bgc: #ececec;
$orange-shades: #fdb527;

$white: #ffffff;
$black: #000000;
$red: #ff0000;
