@font-face {
  font-family: Rota-Black;
  src: url('../fonts/Rota/Rota-Black.otf');
}
@font-face {
  font-family: Rota-Bold;
  src: url('../fonts/Rota/Rota-Bold.otf');
}
@font-face {
  font-family: Rota-Medium;
  src: url('../fonts/Rota/Rota-Medium.otf');
}
@font-face {
  font-family: Rota-Regular;
  src: url('../fonts/Rota/Rota-Regular.otf');
}
