<div class="container">
  <div class="row">
    <div class="col">
      <div class="main-block">
          <p class="view-only">Best View Window (1519x713)</p>
          <p class="view-only res">Display Resolution (1920x1080)</p>
          <div class="logo">
            <img src="assets/images/logo.svg" alt="">
          </div>
          <div class="services-block">
            <div class="part1">
              <div class="row">
                <div class="col">
                  <div class="react-block air-block">
                    <h2>Air Quality</h2>
                    <div class="row">
                      <div class="col">
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <div class="count">
                              <p>72</p>
                            </div>
                          </li>
                          <li class="list-inline-item">
                            <div class="arrow-count up">
                              <span><mat-icon>arrow_upward</mat-icon> 93</span>
                            </div>
                            <div class="arrow-count down">
                              <span><mat-icon>arrow_downward</mat-icon> 61</span>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="react-block tem-block">
                    <h2>Temperature</h2>
                    <div class="row">
                      <div class="col">
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <div class="count">
                              <p>21 <span>&#8451;</span></p>
                            </div>
                          </li>
                          <li class="list-inline-item">
                            <div class="arrow-count up">
                              <p><img src="assets/images/icons/fire.svg" alt=""> 26 <span>&#8451;</span> </p>
                            </div>
                            <div class="arrow-count down">
                              <p><img src="assets/images/icons/snowflake.svg" alt=""> 18 <span>&#8451;</span></p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="react-block light-audio-block">
                    <h2>Audio</h2>
                    <div class="row">
                      <div class="col">
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <div class="audio-count">
                              <p>2</p>
                            </div>
                          </li>
                          <li class="list-inline-item">
                            <div class="green-box">
                              <p>Playing</p>
                            </div>
                          </li>
                          <li class="list-inline-item">
                            <div class="total">
                              <h5>Total</h5>
                              <h2>5</h2>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="part2">
              <div class="row">
                <div class="col">
                  <div class="react-block light-audio-block display-block">
                    <h2>Displays</h2>
                    <div class="row">
                      <div class="col">
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <div class="audio-count">
                              <p>10 <span>/16</span></p>
                            </div>
                          </li>
                          <li class="list-inline-item">
                            <div class="total">
                              <h5>On Time</h5>
                              <h3>00:00</h3>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="react-block light-audio-block">
                    <h2>Lighting</h2>
                    <div class="row">
                      <div class="col">
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <div class="audio-count">
                              <p>32</p>
                            </div>
                          </li>
                          <li class="list-inline-item">
                            <div class="green-box">
                              <p>On</p>
                            </div>
                          </li>
                          <li class="list-inline-item">
                            <div class="total">
                              <h5>Total</h5>
                              <h2>43</h2>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
